@using EntityLayer.Concrete
@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<style>
    img{
    border-radius: 50%;
    }
</style>


<h1>Rəhbər Siyahısı</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şəkİl</th>
        <th>Ad Soyad</th>
        <th>İzah</th>
        <th>Vəzİyyət</th>
        <th>Redakte</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td><img src="@item.Image" height="50" width="50" /></td>
            <td>@item.Name</td>
            <td>@item.Description</td>

            @{
                if (item.Status == true)
                {
                    <td><a href="/Admin/Guide/ChangeToFalse/@item.GuideId" class="btn btn-outline-warning">Passiv Et</a></td>
                }
                else
                {
                    <td><a href="/Admin/Guide/ChangeToTrue/@item.GuideId" class="btn btn-outline-info">Aktiv Et</a></td>
                }
            }

            <td><a href="/Admin/Guide/EditGuide/@item.GuideId/" class="btn btn-outline-success">Redakte Et</a></td>
        </tr>
    }
</table>

<a href="/Admin/Guide/AddGuide/" class="btn btn-outline-primary">Yeni Rəhbər Girişi</a>

