@model IEnumerable<BookingExchangeViewModel12.Exchange_Rates>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api Booking Məzənnə Məlumatları</h1>

<br />

<table class="table table-striped">
    <tr>
        <td>Valyuta Adı</td>
        <td>Valyuta Dəyəri</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.currency</th>
            <td>@item.exchange_rate_buy</td>
        </tr>
    }
</table>

