@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Booking Otellər Üçün Şəhər Id Məlumatını Gətirmə Səhifəsi</h2>
<br />
<br />

<form method="post">
    <label>Şəhər Adını Daxil Edin</label> 
    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-outline-primary">Şehir ID Getir</button>
</form>