@model IEnumerable<BookingHotelSearchViewModel.Result>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    double score;
}

<h1>Booking Otel Rezervasiya Səhifəsi</h1>

<h3>Axtarış Edilən Şəhər: Paris/Fransa</h3>


<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Otel Adı</th 
        <th>Otel Reytinqi</th>
        <th>Təfərrüat</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.hotel_name</td>
            @{
                score = double.Parse(item.review_score.ToString()) / 10;
            }
            <td>@score</td>
            @{
                if (item.review_score_word == "Very good")
                {
                    <td>Yaxşı</td>
                }
                if (item.review_score_word == "Good" || item.review_score_word == "Okay")
                {
                    <td>Normal</td>
                }
                if (item.review_score_word == "Fabulous")
                {
                    <td>Əla</td>
                }
                if (item.review_score_word == "Superb")
                {
                    <td>Möhtəşəm</td>
                }
            }
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>