<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Rəy bildirin</h4>
    <p class="mb-4">
        İşarə qoyulmuş xanaları doldurmalısınız *
    </p>
    <form method="post" asp-action="AddComment" asp-controller="Comment"> @*CommentConroller dəki AddCommentə gedəcək, o metod da ki database ə əlavə edəcək*@

        <div class="form-group">
            <textarea name="CommentContent" class="form-control" placeholder="Rəyiniz *" required="" 
                      spellcheck="false"></textarea> @*Buradakı name databasə dəki table ilə əlaqələnir*@
        </div>
        <div class="input-grids row">

            <div class="form-group col-lg-6">
                <input type="text" name="CommentUser" class="form-control" placeholder="Adınız *"
                       required="">
            </div>
            <div class="form-group col-lg-6">
                <input type="text" name="DestinationId" hidden class="form-control" placeholder="Destination Id*" required="" value="@ViewBag.i">
            </div>
        </div>

        <div class="submit text-right">
            <button class="btn btn-style btn-primary">Rəy bildir</button>
        </div>
    </form>
</div>

