@model CreateRoleViewModel
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Rol Yaratma Səhifəsi</h1>

<form method="post">
    <label>Rol Adını Qeyd Edin</label>
    <input type="text" class="form-control" asp-for="RoleName"/>
    <br />
    <button class="btn btn-primary">Rol Əlavə Et</button>
</form>
