@model UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rol Redakte Etmə Səhifəsi</h1>

<form method="post">
    <input type="hidden" asp-for="RoleId"/>
    <label>Rol Adı</label>
    <input type="type" class="form-control" asp-for="RoleName"/>
    <br />
    <button class="btn btn-outline-success">Güncəllə</button>
</form>