@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayğac = 0;
}

<h1>İstifadəçi Siyahısı</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>İstİfadəçİ Adı</th>
        <th>TARİx</th>
        <th>SİL</th>
        <th>Redakte Et</th>
        <th>Rəylər</th>
        <th>Tur KEÇMİŞİ</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{
                sayğac +=  1;
            }
            <td>@sayğac</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><a href="/Admin/User/DeleteUser/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/User/EditUser/@item.Id" class="btn btn-outline-success">Redakte</a></td>
            <td><a href="/Admin/User/CommentUser/@item.Id" class="btn btn-outline-info">Rəylər</a></td>
            <td><a href="/Admin/User/ReservationUser/@item.Id" class="btn btn-outline-secondary">Tur Keçmişi</a></td>
        </tr>
    }
</table>

<a href="/Login/SignUp/" class="btn btn-outline-primary">Yeni Istifadəçi Yarat</a>
